.footer{
    background: linear-gradient(rgba(5,150,0,.15),hsla(0,0%,100%,.6));

}
ul{
    justify-content: center;
}
div li,div h6{
   list-style-type: none;
   font-weight: 800;
   font-size: 18px;
}
.footer_link{
    text-decoration: none;
    color:black
}
.footer_link:hover{
    color: #136F42;
}
@media screen and (max-width: "420px") {
    a.footer_link {
        font-size: 15px;
    }  
}