h1{
    font-weight: 700;
    font-size: 72px;
}
h4{
    font-size: 36px;
}

@media screen and (max-width : 420px){
    h1 {
        font-size: 38px;
    }
    .home-right{
        order: 2;

    }
    .home-left{
        order: 1;
    }
}